beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
html5lib==1.1
idna==2.10
lxml==4.6.3
mercury-parserpy==0.6.0
pyTelegramBotAPI==3.7.7
readabilipy==0.2.0
regex==2021.4.4
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
telegraph==1.4.1
termcolor==1.1.0
urllib3==1.26.4
validators==0.18.2
webencodings==0.5.1
webpage2html==0.3.6
